<%= form_with(model: fs_order, local: true) do |form| %>
  <% if fs_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fs_order.errors.count, "error") %> prohibited this fs_order from being saved:</h2>

      <ul>
      <% fs_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th><%= form.label :customer %></th>
        <th><%= form.label :date_required %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.text_field :customer, size: 10, readonly: true, id: :fs_order_customer %></td>
        <td><%= form.date_field :date_required, id: :fs_order_date_required, :value => Time.current.tomorrow.strftime('%Y-%m-%d') %></td>
      </tr>
    </tbody>
  </table>

  <h3>Parts</h3>
  <%= form.fields_for :fs_order_parts do |p| %>
  <table>
    <thead>
      <tr>
        <th><%= p.label :uom, "UOM" %></th>
        <th><%= p.label :partdesc, "Description" %></th>
        <th><%= p.label :qty %></th>
        <th><%= p.label :partcode, "New part" %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= p.text_field :uom, readonly: true, :style => "width:2.5em" %></td>
          <td><%= p.select :partdesc, $descs, {:style => "width:20em"}, {:onchange=> ("partUoms(id)")} %></td>
          <td><%= p.number_field :qty, :style => "width:2.5em" %></td>
          <td><%= p.text_field :partcode, {:oninput=> ("partDescriptions(id)")} %></td>
        </tr>
    </tbody>
  </table>
  <% end %>

  <div class="actions">
    <%= form.submit "Input order" %>
  </div>
<% end %>
<p id= "uoms" hidden> <%= $jsuoms %> </p>
<p id= "descs" hidden> <%= $jsdescs %> </p>
<p id= "alldescs" hidden> <%= $alldescs %> </p>
<p id= "allcodes" hidden> <%= $allcodes %> </p>
<p id= "alluoms" hidden> <%= $alluoms %> </p>
