<p id="notice"><%= notice %></p>

<table id="listtab"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <% if @user == 'ADMIN' %>
        <th>Rep</th>
      <% end %>
      <th>Cust</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @fs_orders.each do |fs_order| %>
      <tr>
        <% if @user == 'ADMIN' %>
          <td><%= fs_order.rep %></td>
        <% end %>
        <td><%= fs_order.customer %></td>
        <td><%= display_date(fs_order.date_required) %></td>
        <% if @user != 'ADMIN' %>
          <td><%= link_to 'Edit', edit_fs_order_path(fs_order) %></td>
        <% else %>
          <td><%= link_to 'Show', fs_order %></td>
        <% end %>
        <td><%= link_to 'Delete', fs_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @user != 'ADMIN' %>
  <br>
  <%= link_to 'New FS Order', new_fs_order_path %>
<% end %>
