<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @fs_order.customer %></td>
      <td><%= display_date(@fs_order.date_required) %></td>
    </tr>
  </tbody>
</table>

<table id="listtab"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th> UOM </th>
      <th> Part </th>
      <th> Quantity </th>
      <th> Delete </th>
    </tr>
  </thead>
  <tbody>
    <% @fs_order.fs_order_parts.each do |c| %>
    <tr>
      <td> <%= c.uom %> </td>
      <td> <%= c.partdesc %> </td>
      <td> <%= c.qty %> </td>
      <td><%= link_to 'Delete', fs_order_fs_order_part_path(@fs_order.id, c.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
